<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-text color="danger" class="title">
              Boilerplate
            </ion-text>
            <ion-item>
              <ion-label position="floating">{{ 'email' | translate }}</ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                {{ 'badEmailError' | translate }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ 'password' | translate }}</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>
                  {{ 'passwordLengthError' | translate }}
              </ion-label>
            </ion-item>
            <ion-item
              lines="none"
            >
              <ion-label>
                  {{ 'idiom' | translate }}
              </ion-label>
              <ion-select (ionChange)="choose($event)" okText="Accept" cancelText="Cancel" value="ES">
                <ion-select-option value="ES">
                  Español
                </ion-select-option>
                <ion-select-option value="EN">
                  English
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-button
            type="submit"
            color="danger"
            expand="block"
            [disabled]="!f.valid"
          >
          {{ 'login' | translate }}
          </ion-button>
          <ion-button
            type="submit"
            color="danger"
            expand="block"
            [routerLink]="['/signup']" routerLinkActive="router-link-active" 
          >
          {{ 'signUp' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
  